### Build Our Model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [7]:
dataset = pd.read_csv('archive/english.csv')

In [8]:
dataset.head()

                image label
0  Img/img001-001.png     0
1  Img/img001-002.png     0
2  Img/img001-003.png     0
3  Img/img001-004.png     0
4  Img/img001-005.png     0

### Different Handwirting Characters

In [13]:
dataset["label"].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C',
       'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P',
       'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c',
       'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p',
       'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], dtype=object)

### 10% training set

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = dataset["image"]
y = dataset["label"]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

### Image Data Preprocessing

In [17]:
from keras_preprocessing.image import ImageDataGenerator

#### Training Set

In [18]:
train_data_generator = ImageDataGenerator(rescale=1/255, shear_range=0.2, zoom_range=0.2)

In [27]:
train_set = pd.DataFrame({'image':X_train,'label':y_train})
train_set.head()

                   image label
263   Img/img005-044.png     4
1187  Img/img022-033.png     L
501   Img/img010-007.png     9
3297  Img/img060-053.png     x
1411  Img/img026-037.png     P

In [24]:
training_data_frame = train_data_generator.flow_from_dataframe(dataframe=train_set, directory="archive", x_col='image', 
                                                               y_col='label', target_size=(64, 64), 
                                                               class_mode='categorical')

Found 3069 validated image filenames belonging to 62 classes.

#### Testing Set

In [26]:
test_set = pd.DataFrame({'image':X_test,'label':y_test})
test_set.head()

                   image label
3135  Img/img058-001.png     v
1789  Img/img033-030.png     W
170   Img/img004-006.png     3
680   Img/img013-021.png     C
2803  Img/img051-054.png     o

In [29]:
testing_data_frame = train_data_generator.flow_from_dataframe(dataframe=test_set, directory="archive", x_col='image', 
                                                               y_col='label', target_size=(64, 64), 
                                                               class_mode='categorical')

Found 341 validated image filenames belonging to 62 classes.